
body{
  background-image: url("pictures/background1.jpg");
  background-size: cover;
  back
}

h1 {
  color: #ffeb3b;
}

.mybox {
  width: 300px;
  border: 6px solid black;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
}

.responsive-img {
  width: 25%;
  background-size: 100% 100%;
}


.display_output {
  padding-top: 50px;
  font-size: 300%;
}
