
body{
  /*background-color: #ffeb3b;*/
  background-image: url("pictures/abstract-background-geometric-shapes-file-eps-format-34937275.jpg");
  background-size: cover;
}

/*#display_buzz {
  color: green;
}*/

h1 {
  color: #ffeb3b;
}

.mybox {
  width: 300px;
  border: 6px solid black;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.display_output {
  padding-top: 50px;
  font-size: 300%;
}

.logo {

}
